<head>
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/materialize/0.97.7/css/materialize.css" />
  <script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.1.0/jquery.min.js"></script>
  <script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/jquery-validate/1.15.0/jquery.validate.min.js"></script>
  <script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/materialize/0.97.7/js/materialize.min.js"></script>
  <%= stylesheet_link_tag "style" %>
</head>

<body>
<main>
  <h1 class="center">Login</h1>
  <h4 class="center red-text"><%=flash[:error]%></h4>
  <div class="container">
    <div class="card z-depth-3">
      <div class="container">
        <div class="row">
          <%= form_tag '/login' do %>
            <div class="col s12 l12 m12 input-field"> <%= text_field_tag :reg_no ,nil, class: 'validate' %><label class="active" for="reg_no">Register no.</label></div>
            <div class="col s12 l12 m12 input-field"> <%= password_field_tag :password,nil, class: 'validate' %><label for="password">Password</label></div>
            <a class="waves-effect waves-light btn right">
              <%= submit_tag "Submit" %><i class="material-icons left">send</i></a>
              <% end %>
          <div class="waves-effect waves-light btn left white"><%= link_to 'Sign Up', '/signup'%></div>
        </div>
      </div>
    </div>
  </div>
</main>
<footer class="page-footer">
  <div class="footer-copyright">
    <div class="container">
      <div class="row">
        <div class="col s8 m6 l4 offset-l4 offset-m4 offset-s1"><%= image_tag("ComputerSocietyLogo-black.gif", size: "246x27")%></div>
      </div>

    </div>
  </div>
</footer>



</body>
