<head>
  <script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/pace/1.0.2/pace.min.js"></script>
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/pace/1.0.2/themes/white/pace-theme-minimal.css" />
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/materialize/0.97.7/css/materialize.css" />
  <script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.1.0/jquery.min.js"></script>
  <script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/jquery-validate/1.15.0/jquery.validate.min.js"></script>
  <script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/materialize/0.97.7/js/materialize.min.js"></script>
  <%= stylesheet_link_tag "style" %>

  <meta name="viewport" content="width=device-width, initial-scale=1.0">

</head>

<body>
<main>
  <h1 class="center text-white">Design</h1>
  <div class="container">
    <div class="card z-depth-3">
      <div class="container">
        <div class="row">
          <div class="col s12 l12 m12"><h5><b>Instructions</b></h5></div>
          <div class="col s12 l12 m12"><ul>
            <li>Create a private Google Drive/Dropbox folder</li>
            <li>Add the content you have created into the folder</li>
            <li>Create a poster/illustration on the topic "The Bold" and add it to the folder</li>
            <li>Copy the shareable link(with download permissions) into the url field below and submit</li>
          </ul>
            <p>(note : All artwork must be your own, any signs of plagiarism will result in immediate disqualification)</p>
          </div>
          <br>
          <%= form_tag('des_post', method: :post) do%>
            <div class="col s12 l12 m12"><b>Drive/Dropbox link</b><%= text_field_tag(:portfolio)%></div>
            <a class="waves-effect waves-light btn right"><i class="material-icons left">send</i><%= submit_tag("Submit") %></a>
          <%end %>
          <div class="waves-effect waves-light btn left white"><%= link_to 'back', selections_path %></div>
        </div>
      </div>
    </div>
  </div>
</main>
<footer class="page-footer">
  <div class="footer-copyright">
    <div class="container">
      <div class="row">
        <div class="col s8 m6 l4 offset-l4 offset-m4 offset-s1"><%= image_tag("ComputerSocietyLogo-black.gif", size: "246x27")%></div>
      </div>

    </div>
  </div>
</footer>
</body>
