
<main>

  <h1 class="center">Management</h1>
  <div class="container">
    <div class="card z-depth-3">
      <div class="container">
        <div class="row">
          <h6><b>Answer</b></h6>

          <%= form_tag('man_post', :method => :post) do%>

              <%@mcqs.each do |q|%>
                  <div class="col s12 m12 l12"><p> <%= q.content %></p></div>
                  <div class="col s12 m6 l12"><%= radio_button_tag "#{q.id}_mcr", "a" %><label><%= q.a%></label></div>
                  <div class="col s12 m6 l12"><%= radio_button_tag "#{q.id}_mcr", "b" %><label><%= q.b%></label></div>
                  <div class="col s12 m6 l12"><%= radio_button_tag "#{q.id}_mcr", "c" %><label><%= q.c%></label></div>
                  <div class="col s12 m6 l12"><%= radio_button_tag "#{q.id}_mcr", "d" %><label><%= q.d%></label></div>

              <% end %>
              <% @questions.each do |q|%>
                  <div class="col s12 m12 l12"><p> <%= q.content %></p></div>
                  <%= text_area_tag "#{q.id}_resp",nil, class: 'materialize-textarea' %>
              <% end %>



            <a class="waves-effect waves-light btn right"><i class="material-icons">send</i><%= submit_tag "Submit" %></a>
          <% end%>
          <%= link_to 'Back', selections_path, class: "waves-effect waves-light btn left" %>
        </div>
      </div>
    </div>
  </div>
</main>

<style>
label {
  font-size: 16px;
  margin-left: 15px;
  margin-bottom: 5px;
}
</style>
<script>
  $(document).ready(function(){

    $('#1_resp').trigger('autoresize');
  });
</script>
