
<main>

  <h1 class="center white-text">Management</h1>
  <div class="container">
    <div class="card z-depth-3">
      <div class="container">
        <div class="row">
          <h6><b>Answer</b></h6>

          <%= form_tag('man_post', :method => :post) do%>

              <%@mcqs.each do |q|%>
                  <div class="col s12 m12 l12"><p> <%= q.content %></p></div>
                  <div class="col s12 m6 l12"><%= radio_button_tag "#{q.id}_mcr", "a" %><label><%= q.a%></label></div>
                  <div class="col s12 m6 l12"><%= radio_button_tag "#{q.id}_mcr", "b" %><label><%= q.b%></label></div>
                  <div class="col s12 m6 l12"><%= radio_button_tag "#{q.id}_mcr", "c" %><label><%= q.c%></label></div>
                  <div class="col s12 m6 l12"><%= radio_button_tag "#{q.id}_mcr", "d" %><label><%= q.d%></label></div>

              <% end %>
              <% @questions.each do |q|%>
                  <div class="col s12 m12 l12"><p> <%= q.content %></p></div>
                  <%= text_area_tag "#{q.id}_resp",nil, class: 'materialize-textarea' %>
              <% end %>



           <%= submit_tag("Submit",:class => "btn right white-text") %>
          <% end%>
          <%= link_to 'Back', selections_path, class: "waves-effect waves-light btn left white blue-text" %>
        </div>
      </div>
    </div>
  </div>
</main>

<style>
[type="radio"]:not(:checked), [type="radio"]:checked {
    position: inherit;
    left: inherit;
    opacity: 100;
}

[type="radio"]:not(:checked)+label, [type="radio"]:checked+label {
  padding-left: 12px;
  display: inline;
  cursor: default;
}
[type="radio"]+label:before, [type="radio"]+label:after {
content: none;
}
</style>