<head>

  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/materialize/0.97.7/css/materialize.css" />
  <script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.1.0/jquery.min.js"></script>
  <script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/jquery-validate/1.15.0/jquery.validate.min.js"></script>
  <script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/materialize/0.97.7/js/materialize.min.js"></script>

    <%= stylesheet_link_tag "style" %>

  <meta name="viewport" content="width=device-width, initial-scale=1.0">

</head>

<body>
<main>

  <h1 class="center">Management</h1>
  <div class="container">
    <div class="card z-depth-3">
      <div class="container">
        <div class="row">
          <h6><b>Answer</b></h6>

          <%= form_tag('man_post', :method => :post) do%>

              <%@mcqs.each do |q|%>
                  <div class="col s12 m12 l12"><p> <%= q.content %></p></div>
                  <div class="col s12 m6 l12"><%= radio_button_tag "#{q.id}_mcr", "a" %><label><%= q.a%></label></div>
                  <div class="col s12 m6 l12"><%= radio_button_tag "#{q.id}_mcr", "b" %><label><%= q.b%></label></div>
                  <div class="col s12 m6 l12"><%= radio_button_tag "#{q.id}_mcr", "c" %><label><%= q.c%></label></div>
                  <div class="col s12 m6 l12"><%= radio_button_tag "#{q.id}_mcr", "d" %><label><%= q.d%></label></div>

              <% end %>
              <% @questions.each do |q|%>
                  <div class="col s12 m12 l12"><p> <%= q.content %></p></div>
                  <%= text_area_tag "#{q.id}_resp",nil, class: 'materialize-textarea' %>
              <% end %>



            <a class="waves-effect waves-light btn right"><i class="material-icons left">send</i><%= submit_tag "Submit" %></a>
          <% end%>
          <%= link_to 'Back', selections_path, class: "waves-effect waves-light btn left" %>
        </div>
      </div>
    </div>
  </div>
</main>
<footer class="page-footer">
  <div class="footer-copyright">
    <div class="container">
      <div class="row">
        <div class="col s8 m6 l4 offset-l4 offset-m4 offset-s1"><%= image_tag("ComputerSocietyLogo-black.gif", size: "246x27")%></div>
      </div>

    </div>
  </div>
</footer>

</body>

<style>
label {
  font-size: 16px;
  margin-left: 15px;
  margin-bottom: 5px;
}
</style>
<script>
  $(document).ready(function(){

    $('#1_resp').trigger('autoresize');
  });
</script>
