<h1>Selections#management</h1>
<p>Find me in app/views/selections/management.html.erb</p>

<%= form_tag('man_post', :method => :post) do%>

<% for q in @mcqs.each do %>
        <p><%= q.id %> <%= q.content %></p>
        <span><%= radio_button_tag "mcr", "a" %> <%= q.a %></span>
        <span><%= radio_button_tag "mcr", "b" %> <%= q.b %></span>
        <span><%= radio_button_tag "mcr", "c" %> <%= q.c %></span>
        <span><%= radio_button_tag "mcr", "d" %> <%= q.d %></span>
<% end %>

<% for q in @questions.each do %>
        <p><%= q.id %> <%= q.content %></p>
        <%= text_area_tag "#{q.id}_resp" %>
<% end %>
<%= submit_tag "submit" %>
<% end%>
<%= link_to 'back', selections_path %>